<div>
  <div>
    <form name="taskForm" ng-submit="save(task)">
      <div class="lead">What's your task?</div>

      <div ng-controller="impurgCtrl" class="form-group-btn tl">
        <input class="form-control" 
               ng-model="newTask"
               type="text"
               placeholder="Important | Urgent">
        <span><button ng-click='task()' class="btn btn-default">Save</button></span>
        <ul>
          <li ng-repeat="task in impurg">
            {{task.desc}}
          </li>
        </ul>
      </div>

      <div ng-controller="impnouCtrl" class="form-group-btn tr">
        <input class="form-control" 
               ng-model="newTask"
               type="text"
               placeholder="Important | Not Urgent">
        <span><button ng-click='task()' class="btn btn-default">Save</button></span>
        <ul>
          <li ng-repeat="task in impnou">
            {{task.desc}}
          </li>
        </ul>
      </div>

      <div ng-controller="uniurgCtrl" class="form-group bl">
        <input class="form-control" 
               ng-model="newTask"
               type="text"
               placeholder="Unimportant | Urgent">
        <span><button ng-click='task()' class="btn btn-default">Save</button></span>
        <ul>
          <li ng-repeat="task in uniurg">
            {{task.desc}}
          </li>
        </ul>
      </div>

      <div ng-controller="uninouCtrl" class="form-group br">
        <input class="form-control" 
               ng-model="newTask"
               type="text"
               placeholder="Unimportant | Not Urgent">
        <span><button ng-click='task()' class="btn btn-default">Save</button></span>
        <ul>
          <li ng-repeat="task in uninou">
            {{task.desc}}
          </li>
        </ul>
      </div>
    </form>
  </div>
</div>